body {
  background-color: #24292e !important;
}
.hero-and-content {
  background: transparent !important;
}
header {
  display: none;
}
#page-login .page-card {
  max-width: 460px;
  padding: 15px;
  margin: 70px auto 0 auto;
  border: 1px solid #d1d8dd;
  border-radius: 0 !important;
  background-color: #fff;
  box-shadow: none !important;
}
#page-login .form-control {
  border-radius: 0 !important;
  font-size: 2em !important;
}
#page-login .logo {
  margin-bottom: 30px;
}
#page-login .login-content .btn {
  font-size: 1.3em !important;
  margin: 25px 0 20px 0;
  border-radius: 0 !important;
  background-color: #34bfa3 !important;
  border: none !important;
  padding: 20px;
}
/* end page-login */
.for-login .form-footer,
.for-forgot .form-footer {
  margin: 30px auto !important;
}
.for-login .form-footer a,
.for-forgot .form-footer a {
  color: #C60 !important;
}
.web-footer {
  display: none;
}
.social-logins {
  display: none !important;
}
.footer-powered {
  display: none !important;
}
.footer-subscribe {
  display: none !important;
}
